<%- include("partials/header.ejs")%>

    <!-- header -->
    <%- include("partials/menu.ejs")%>
        <!-- about -->
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="titlepage text_align_left">
                            <span>01</span>
                            <h3>
                                <%=photo.name %>
                            </h3>
                            <p>
                                <%=photo.description%>
                            </p>
                            <a class="read_more" href="/photos-of-a-user/<%=photo.user.id%>">
                                Photographer : <%= photo.user.username %>
                            </a>
                            <div style="margin-top: 30px ;">
                                <ul style="display: flex; justify-content: space-between;">
                                    <li><a style="min-width: 266px;" class="read_more"
                                            href="/user/aut/photo/<%=photo._id%>" method="delete"
                                            onclick="return confirm('Do you want to remove this photo?')">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img">
                            <figure><img src="<%=photo.image%>" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end about -->
        <!-- end footer -->
        <%- include("partials/footer.ejs")%>