<%- include("partials/header.ejs")%>

    <!-- header -->
    <%- include("partials/menu.ejs")%>
        <!-- about -->
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="titlepage text_align_left">
                            <img src="/images/logo1.png" alt="Italian Trulli">
                            <h3>
                                <%=photo.name %>
                            </h3>
                            <h4>
                                <%=photo.description%>
                            </h4>
                            <a class="read_more" href="/donate/<%=photo.id%>">
                                Donate
                            </a>
                            <br>
                            <a class="read_more" href="/download/<%=photo.id%>">
                                Download
                            </a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img">
                            <figure><img src="<%=photo.image%>" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end about -->
        <!-- end footer -->
        <%- include("partials/footer.ejs")%>